@model ControleDespesa5.Models.Usuarios

@{ 
    ViewData["Title"] = "LoginApp";
}
<head>
    <meta charset="utf-8" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title></title>
</head>
<body>
    <form class="row g-3" asp-action="Logar" asp-route-codigo="Id">
        
        <div class="col-md-6">
            <label for="Login" class="form-label">Usuario :</label>
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label for="Senha" class="form-label">Senha :</label>
            <input asp-for="Senha" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button type="submit" value="Logar" class="btn btn-primary">Logar</button>
        </div>
    </form>


</body>
</html>